      #logo {
        position: absolute;
        left: 99px;
        top: 36px;
        width: 167px        
      }

      #block-menu {
        position: absolute;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 56px;
        width: 414px;
        height: 19px;
        left: 692px;
        top: 45px;
      }

      .menu {
        font-family: "Lato", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-decoration: none;
        text-align: center;
        color: #275553;
      }

      .menu:hover {
        background: #ffffff;
      }

      #booking {
        box-sizing: border-box;
        position: absolute;
        width: 177px;
        height: 40px;
        left: 1168px;
        top: 35px;
        font-family: "Lato", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #275553;
        background-color: transparent;
        border: 1px solid #275553;
        border-radius: 5px;
      }

      #booking:hover {
        color: #ffffff;
      }

      h1 {
        position: absolute;
        width: 616px;
        height: 128px;
        left: 96px;
        top: 120px;
        font-family: "Inter", sans-serif;
        font-style: normal;
        font-weight: 900;
        font-size: 64px;
        line-height: 64px;
        color: #ffffff;
      }

      h2 {
        position: relative;
        width: 728px;
        height: 112px;
        left: 96px;
        top: 60px;
        font-family: "Inter", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 56px;
        color: #121212;
      }

      #rectangle {
        position: absolute;
        width: 481px;
        height: 61px;
        left: 99px;
        top: 316px;
        text-align: center;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 56px;
        color: #ffffff;
        background: linear-gradient(91.82deg, #fb8b62 5.83%, #f47648 89.73%);
        backdrop-filter: blur(34px);
        border-radius: 16px;
      }

      #text {
        position: absolute;
        width: 384px;
        height: 56px;
        left: 99px;
        top: 417px;
        font-family: "Lato", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
        color: #ffffff;
      }

        #schedule2 {
        position: absolute;
        width: 140px;
        height: 24px;
        left: 99px;
        top: 511px;
        font-family: "Lato", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        color: #ffffff;
      }
      .arrow {
        position: absolute;
        width: 64px;
        height: 64px;
        left: 256px;
        top: 491px;
      }

      #facebook {
        position: absolute;
        width: 18.25px;
        height: 20px;
        left: 96px;
        top: 706px;
        color: #DFDFDF;
      }

      #facebook {
        position: absolute;
        width: 18.25px;
        height: 20px;
        left: 96px;
        top: 706px;
        color: #DFDFDF;
      }

      #instagram {
        position: absolute;
        width: 20px;
        height: 20px;
        left: 139px;
        top: 706px;
        color: #DFDFDF;
      }

      #man {
        position: absolute;
        width: 269.1px;
        height: 267.9px;
        left: 736.12px;
        top: 458px;
      }

      #bear {
        position: absolute;
        width: 211.45px;
        height: 209.27px;
        left: 1040.09px;
        top: 513.59px;
      }

      #sea {
        position: absolute;
        width: 208.18px;
        height: 209.27px;
        left: 1286.41px;
        top: 516.86px;
      }

      #text2 {
        position: relative;
        width: 571px;
        height: 64px;
        left: 96px;
        top: 100px;
        font-family: "Lato", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        color: #313131;
      }

      #text3 {
        position: relative;
        width: 613px;
        height: 120px;
        left: 96px;
        top: 180px;
        font-family: "Lato", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #313131;
      }

      #conditions_blok {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 64px;
        width: 758px;
        height: 88px;
        left: 96px;        
      }

      .conditions {
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 24px;
        color: #212121;
        list-style-type: none;
      }

      li p:last-child {
        font-family: "Lato", sans-serif;
        font-weight: 700;
        font-size: 16px;
      }

      #menu_footer {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        width: 400px;
        height: 144px;
        left: 97px;
        top: 140px;
        }

      .menu2 {
        font-family: "Lato", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #bababa;
        text-decoration: none;
        text-align: center;
        list-style-type: none;
        }

      .menu2:hover:hover {
        background: #ffffff;
      }

      #address {
        position: relative;
        width: 204px;
        height: 158px;
        left: 1151px;
        top: 63px;
        font-family: "Lato", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #ffffff;
      }

      #address::first-line {
        font-weight: 700;
        font-size: 20px;
      }

      #logo_footer {
        position: relative;
        width: 167.11px;
        height: 37.18px;
        left: 96px;
        top: 63px;
       }  
      
      #plane{
        position: relative;
        height: 327.07px;
        left: 882.83px;
        transform: rotate(3.3deg);
      }

      #text4{
        width: 662px;
        height: 96px;
        left: 100px;
        top: 502px;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        color: #FFFFFF;
      }

      #text5{
        width: 299px;
        height: 57px;
        left: 100px;
        top: 630px;
        font-family: "Lato", sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: #DEDEDE; 
      }

